/* Modal Giỏ hàng */
.cart-modal {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    & i {
      font-size: 1.5rem;
      cursor: pointer;
      color: $first-color;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }
  &__content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 1rem;
  }
  &__footer {
    margin-top: 1rem;
    text-align: right;
    & button {
      background-color: $first-color;
      margin: 1rem 0 0 0;
      color: #fff;
      border: none;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: $normal-font-size;
      font-weight: $font-semi-bold;
      transition: background-color 0.4s;
      &:hover {
        background-color: darken($first-color, 10%);
      }
    }
  }
}

/* Hiệu ứng Fly to Cart */
.flying-img {
  z-index: 11000;
  transition: all 0.8s ease-in-out;
  pointer-events: none;
  object-fit: cover;
  border-radius: 50%;
}
