.checkout {
  background-color: hsl(0, 0%, 14%);
  &__container {
    padding: 50px 0;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
  }
  &__title {
    color: $first-color;
  }
  &__grid {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 2rem;
  }
  &__form,
  &__summary {
    background-color: #790000;
    padding: 2rem;
    border-radius: 1rem;
    color: $white-color;
    & h3,
    label {
      margin-bottom: 1.5rem;
      color: #dfa30b;
    }
  }
  &__form {
    background: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    & h3 {
      color: #790000;
    }
  }
}

.form {
  &__group {
    margin-bottom: 1.5rem;
    & label {
      display: block;
      margin-bottom: 8px;
      font-size: 0.9rem;
      font-weight: 600;
      color: #333;
      transition: 0.3s;
    }
    & input {
      width: 100%;
      padding: 12px 16px;
      border: 2px solid #f0f0f0;
      border-radius: 8px;
      background-color: #fcfcfc;
      color: #333;
      font-size: 1rem;
      outline: none;
      transition: all 0.3s ease;
      &:hover {
        border-color: #d1d1d1;
        background-color: #fff;
      }
      &:focus {
        border-color: #800000; /* Màu đỏ đô Kỳ Việt */
        background-color: #fff;
        box-shadow: 0 0 0 4px rgba(128, 0, 0, 0.1);
      }
      &:focus-within label {
        color: #800000;
      }
      &::placeholder {
        color: #ccc;
        font-size: 0.9rem;
      }
    }
  }
}

.summary__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.btn-order {
  width: 100%;
  padding: 15px;
  background: var(--first-color);
  color: #dfa30b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}
