body.dark-theme {
  /*========= Dark mode variables =========*/
  $first-color: #dfa30b;
  $first-color-alt: #f0c353;
  $title-color: hsl(140, 4%, 90%);
  $text-color: hsl(140, 4%, 70%);
  $body-color: hsl(0, 0%, 10%);
  $container-color: hsl(0, 0%, 14%);
  $shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, 0.6));
  $filter-img: initial;

  /*========= Global styles =========*/
  background-color: $body-color;
  color: $text-color;

  h1,
  h2,
  h3,
  h4 {
    color: $title-color;
  }

  /*========= Header styles =========*/
  .header {
    background-color: $body-color;
  }
  .nav {
    &__logo,
    &__toggle,
    &__close {
      color: $title-color;
    }
    &__menu {
      background-color: $container-color;
    }
    &__img-1,
    &__img-2 {
      filter: $filter-img;
    }
    &__link {
      color: $title-color;
      &:hover {
        color: $first-color;
      }
    }
  }
  @media screen and (max-width: 1150px) {
    background-color: $body-color;
  }
  .active-link {
    color: $first-color;
  }

  .change-theme {
    font-size: 1.25rem;
    color: $title-color;
    cursor: pointer;
  }

  /*========= Home styles =========*/
  .home {
    &__fruit,
    &__branch {
      filter: $filter-img;
    }
    &__img {
      filter: $shadow-img;
    }
  }

  /*========= Enjoy styles =========*/
  .enjoy {
    &__img {
      filter: $shadow-img;
    }
    &__bg {
      background-color: $container-color;
    }
  }

  /*========= About styles =========*/
  .about {
    &__fruit,
    &__branch {
      filter: $filter-img;
    }
    &__img {
      filter: $shadow-img;
    }
  }

  /*========= Popular styles =========*/
  .popular {
    &__bg {
      background-color: $container-color;
    }
    &__img {
      filter: $shadow-img;
    }
  }

  /*========= Footer styles =========*/
  .footer {
    &__logo {
      color: $title-color;
    }
    &__link {
      color: $text-color;
      &:hover {
        color: $first-color;
      }
    }
    &__social-link {
      color: $first-color;
    }

    &__fruit,
    &__branch-1,
    &__branch-2 {
      filter: $filter-img;
    }
  }
  .scrollup {
    background-color: $container-color;
    color: $title-color;
  }
}

.dark-theme:is(.shadow-header, .nav__menu, .scrollup) {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.3);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(0, 0%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 30%);
  &:hover {
    background-color: hsl(0, 0%, 40%);
  }
}
