.enjoy {
  &__container {
    padding-top: 2rem;
    grid-template-columns: 240px;
    justify-content: center;
    row-gap: 2.5rem;
  }
  &__card {
    position: relative;
    padding-block: 1.5rem 2.5rem;
    text-align: center;
    padding: 1rem;
    // background: gray;
  }

  &__bg {
    width: 100%;
    height: 100%;
    background-color: $container-color;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(4deg);
    transition: background-color 0.4s;
  }
  &__title {
    color: $first-color;
    font-size: $h1-font-size;
    font-family: $second-font;
    margin-bottom: 1rem;
    padding-top: 2rem;
  }
  &__subtitle {
    font-size: $normal-font-size;
  }
  &__card:hover &__img {
    transform: translateY(-0.3rem);
  }
}
