.footer {
  padding-block: 3rem 2rem;
  overflow: hidden;
  background-color: #dfa30b;
  &__container {
    position: relative;
    row-gap: 3rem;
  }
  &__logo {
    display: inline-block;
    align-items: center;
    column-gap: 0.25rem;
    font-size: $h1-font-size;
    font-family: $second-font;
    color: $title-color;
    margin-bottom: 1rem;
    & img {
      width: 12rem;
      padding-right: 10px;
    }
  }
  &__info {
    color: $title-color;
  }
  &__data {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
  &__title {
    font-size: $h3-font-size;
    font-weight: $font-semi-bold;
    margin-bottom: 1rem;
    color: $first-color;
  }
  &__links {
    display: grid;
    row-gap: 0.75rem;
  }
  &__link {
    color: $title-color;
    transition: color 0.4s;
    &:hover {
      color: $first-color;
    }
  }
  &__social {
    display: flex;
    column-gap: 1rem;
    &-link {
      font-size: 1.25rem;
      color: $first-color;
      transition: transform 0.4s;
      &:hover {
        transform: translateY(-0.25rem);
      }
    }
  }
  &__fruit,
  &__branch-1,
  &__branch-2 {
    filter: $filter-img;
    position: absolute;
  }
  &__fruit {
    width: 40px;
    bottom: -2rem;
    right: 2rem;
  }

  &__copy {
    display: block;
    text-align: center;
    font-size: $small-font-size;
    color: $title-color;
    margin-top: 1.5rem;
  }
}
