.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $body-color;
  z-index: $z-fixed;
  transition: box-shadow 0.4s, background-color 0.4s;
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo,
  &__toggle,
  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $title-color;
  }

  &__logo {
    font-family: $second-font;
    font-size: $h3-font-size;
    column-gap: 0.25rem;
    & img {
      width: 5rem;
    }
    .small-logo {
      width: 10rem;
      padding-top: 0.25rem;
    }
  }

  &__toggle,
  &__close {
    font-size: 1.25rem;
    cursor: pointer;
  }
  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
  }
  &__link {
    color: $title-color;
    font-weight: $font-semi-bold;
    transition: color 0.4s;
    &:hover {
      color: $first-color;
    }
  }
  &__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  &__img-1,
  &__img-2 {
    filter: $filter-img;
    position: absolute;
  }
  &__img-1 {
    width: 150px;
    top: -2.5rem;
    left: -3.5rem;
    rotate: 180deg;
  }

  &__img-2 {
    width: 50px;
    right: 2.5rem;
    bottom: 2.5rem;
  }
  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 1150px) {
  .nav {
    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      background-color: $body-color;
      width: 100%;
      box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
      padding-block: 4.5rem;
      transition: top 0.4s;
    }
  }
}

.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}

.show-menu {
  top: 0;
}

.active-link {
  color: $first-color;
}

.change-theme {
  font-size: 1.25rem;
  color: $title-color;
  cursor: pointer;
}

/* Icon giỏ hàng cố định góc phải */
.cart-icon-container {
  position: fixed;
  top: 20px;
  right: 30px;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Số lượng hiển thị trên icon */
#cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: bold;
}

/* Vật thể bay */
.fly-item {
  position: fixed;
  z-index: 9999;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.8s ease-in-out; /* Thời gian bay */
  pointer-events: none;
}
