.mission {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;
  }
  &__title {
    font-size: $h1-font-size;
    margin-bottom: 1rem;
    color: $first-color;
  }
  &__bg {
    width: 100%;
    height: 100%;
    background-color: $container-color;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__card {
    position: relative;
    padding-block: 1.5rem 2.5rem;
    text-align: center;
    padding: 1rem;
    // background: gray;
  }
  &__subtitle {
    font-size: $normal-font-size;
  }
  &__card:hover &__img {
    transform: translateY(-0.3rem);
  }
}
