// Small screen styles
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }
  .home {
    &__title {
      font-size: 2.5rem;
    }
    &__fruit {
      top: 5.5rem;
    }
    &__branch {
      right: -4rem;
    }
  }
  .enjoy {
    &__container {
      grid-template-columns: 220px;
    }
  }
  .popular {
    &__container {
      grid-template-columns: 220px;
    }
  }

  .about {
    &__branch {
      bottom: 12rem;
    }
  }

  .join {
    &__content {
      padding: 2rem 1rem;
    }
  }

  .footer {
    &__data {
      grid-template-columns: max-content;
      gap: 2rem;
    }
  }
}

// Medium screen styles
@media screen and (min-width: 576px) {
  .home {
    &__container {
      grid-template-columns: 370px;
      justify-content: center;
    }
  }
  .about {
    &__container {
      grid-template-columns: 370px;
      justify-content: center;
    }
  }

  .join {
    &__description {
      width: 350px;
      margin: 0 auto;
    }
    &__form {
      background-color: $body-color;
      padding: 0.5rem;
      border-radius: 4rem;
      grid-template-columns: 1fr max-content;
      transition: background-color 0.4s;
    }
    &__input {
      padding: 1.25rem 1rem;
    }
  }
  .footer {
    &__data {
      grid-template-columns: repeat(3, max-content);
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    &__container {
      grid-template-columns: repeat(2, 350px);
      align-items: center;
    }
    &__data {
      text-align: initial;
    }

    &__fruit {
      left: 10rem;
    }
  }

  .enjoy {
    &__container {
      grid-template-columns: repeat(2, 250px);
    }
  }

  .about {
    &__container {
      grid-template-columns: repeat(2, 350px);
      align-items: center;
    }
    &__img {
      order: -1;
    }
  }
  .home__data,
  .about__data,
  .about__data .section__title {
    text-align: initial;
  }

  .popular {
    &__container {
      grid-template-columns: repeat(2, 250px);
    }
  }

  .join {
    &__form {
      width: 600px;
      justify-self: center;
    }
  }

  .footer {
    &__data {
      grid-template-columns: repeat(4, max-content);
    }
  }
}

// Large screen styles
@media screen and (min-width: 1150px) {
  $biggest-font-size: 5.5rem;
  $big-font-size: 3rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  .section__title {
    font-size: $big-font-size;
  }
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: c alc($header-height + 2rem);
    column-gap: 4rem;
    &__close,
    &__toggle,
    &__img-1,
    &__img-2 {
      display: none;
    }
    &__logo {
      font-size: $h3-font-size;
    }
    &__menu {
      margin-left: auto;
    }
    &__list {
      flex-direction: row;
      column-gap: 4rem;
    }
  }

  .home {
    &__container {
      grid-template-columns: 470px 600px;
      padding-top: 3.5rem;
    }
    &__fruit {
      width: 70px;
      left: 19rem;
      top: 12rem;
    }
    &__title {
      margin-bottom: 1.5rem;
      font-size: $biggest-font-size;
    }
    &__description {
      padding-right: 5rem;
      margin-bottom: 3rem;
    }
    &__img {
      width: 600px;
    }
    &__branch {
      width: 200px;
      bottom: 0;
      right: -5rem;
    }
  }

  .enjoy {
    &__container {
      grid-template-columns: repeat(3, 278px);
      column-gap: 2.5rem;
    }
    &__card {
      padding-block: 1.5rem 3rem;
    }
    &__title {
      font-size: calc($h2-font-size + 4px);
    }
    &__subtitle {
      font-size: $small-font-size;
    }
    &__img {
      width: 150px;
    }
  }

  .about {
    &__container {
      grid-template-columns: 600px 400px;
      column-gap: 5.5rem;
    }
    &__data .section__title {
      margin-bottom: 1.5rem;
    }
    &__description {
      margin-bottom: 3.5rem;
    }
    &__fruit {
      width: 70px;
      right: 5rem;
    }
    &__img {
      width: 600px;
    }
    &__branch {
      width: 200px;
      bottom: 0;
    }
  }

  .popular {
    &__container {
      grid-template-columns: repeat(3, 270px);
      gap: 8rem 3rem;
      padding-top: 8rem;
    }
    &__card {
      padding-block: 8rem 3rem;
    }
    &__title {
      font-size: $h2-font-size;
      margin-bottom: 0.5rem;
    }
    &__subtitle {
      font-size: $small-font-size;
      margin-bottom: 1rem;
    }
    &__img {
      width: 180px;
    }
    &__button {
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }

  .join {
    &__content {
      padding-block: 4rem;
      border-radius: 3.5rem;
    }
    &__leaf-1,
    &__leaf-2 {
      width: 100px;
    }
    &__leaf-1 {
      left: 4rem;
    }
    &__leaf-2 {
      right: 6rem;
    }
  }

  .footer {
    position: relative;
    padding-block: 5rem 3rem;
    &__container {
      position: initial;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }
    &__logo {
      font-size: $h2-font-size;
      margin-bottom: 1.5rem;
    }
    &__data {
      column-gap: 4.5rem;
    }
    &__title {
      margin-bottom: 1.5rem;
      font-size: $h3-font-size;
    }
    &__social {
      column-gap: 1.25rem;
      &-link {
        font-size: 1.5rem;
      }
    }
    &__fruit {
      width: 70px;
      bottom: 5rem;
      right: 35%;
    }
    &__branch-1 {
      width: 200px;
      top: 7rem;
      right: -2rem;
    }
    &__branch-2 {
      width: 200px;
      left: 20%;
      bottom: -4rem;
    }
  }

  .scrollup {
    right: 3rem;
  }

  .dark-theme {
    .nav__list {
      background-color: hsl(0, 0%, 10%);
    }
    .nav__menu {
      box-shadow: none;
    }
  }
}
