@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
}

:root {
  --color-primary: #790000;
  --color-primary-variant: #aa2f47;
  --color-bg-1: #790000;
  --color-bg-2: #f0c353;
  --color-bg-3: white;
  --color-bg-4: #dfa30b;
  --color-dark: #231f20;
  --color-font: #aa2f47;
  --color-white: hsl(0, 0%, 90%);

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: rgb(229, 165, 93, 0.2);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: var(--color-primary-variant);
  border-radius: 0.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg-3);
  color: var(--color-dark);
  line-height: 1.7;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 6rem;
  color: var(--color-font);
}

h2 {
  font-size: 4rem;
  color: var(--color-primary);
}

a {
  color: var(--color-dark);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

nav {
  height: 5rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.window-scrolled {
  background-color: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle-btn {
  display: none;
}

.nav__logo {
  display: flex;
  width: 8rem;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 4rem;
  font-size: 20px;
}

.nav__socials {
  display: flex;
  gap: 1rem;
}

.nav__socials a {
  height: 2rem;
  width: 2rem;
  background: linear-gradient(
    var(--color-primary-variant),
    var(--color-primary)
  );
  border-radius: 0.5rem;
  color: var(--color-bg-4);
  display: grid;
  place-items: center;
}

.nav__socials a:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

header {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  background: linear-gradient(var(--color-bg-3), var(--color-bg-1));
  overflow: hidden;
}

.header__container {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
  margin-top: 10rem;
}

.header__image-bg {
  background: var(--color-bg-4);
  height: 25rem;
  width: 20rem;
  position: absolute;
  border-top-left-radius: 1rem;
}

.header__image-lg {
  width: 32rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  filter: saturate(0) brightness(0.4);
  border-radius: 1rem;
}

.header__image-sm {
  width: 35rem;
  height: 35rem;
  overflow: hidden;
  position: absolute;
  left: 15rem;
  top: 15rem;
  transition: var(--transition);
  border-radius: 1rem;
}

.header__left:hover .header__image-sm {
  opacity: 0;
}

.header__left:hover .header__image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid var(--color-bg-3);
  top: 0;
  left: 0;
}

.header__head {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.empty {
  height: 3.5rem;
  width: 18rem;
  background: var(--color-bg-2);
  border-radius: calc(3.5rem / 2);
  margin-bottom: 3.5rem;
  box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-bg-4);
}

.header-title {
  font-size: 3rem;
  line-height: 1.3;
  color: white;
}

.header-subtitle {
  font-size: 2.5rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

.header-text {
  margin-top: 1.5rem;
  width: 85%;
  font-size: 20px;
}
.header__tag {
  color: var(--color-primary-variant);
}

.header__right p {
  margin-top: 2rem;
  width: 85%;
}

.header__btn-md {
  display: none;
}

.header__frames {
  position: absolute;
  top: 88vh;
  right: 70rem;
  transition: var(--transition);
}

.header__frame {
  width: 20rem;
  border: 0.4rem solid var(--color-bg-3);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  transition: var(--transition);
  border-radius: 1rem;
}

.header__frame:nth-child(2) {
  transform: rotate(20deg);
  top: -2rem;
  left: 3rem;
}

.header__frames:hover .header__frame {
  transform: rotate(0);
}

.header__frames:hover .header__frame:nth-child(2) {
  top: 0;
  left: 21rem;
}

.contact__btn {
  color: var(--color-bg-4);
  width: 12rem;
  height: 12rem;
  border-radius: 10%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
}

.header__btn {
  background: linear-gradient(
    -30deg,
    var(--color-primary),
    var(--color-primary-variant),
    var(--color-primary-variant)
  );
  position: absolute;
  right: 6%;
  bottom: -6rem;
}

.header__btn:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1rem);
  color: var(--color-bg-1);
  border-radius: 50%;
}

.contact__btn p {
  position: absolute;
  font-size: 1.5rem;
}

#about {
  margin-top: 18rem;
}

.about__container {
  display: grid;
  grid-template-columns: 13% 30% auto;
  gap: 3rem;
  position: relative;
}

.about__title {
  position: absolute;
  top: -7rem;
  z-index: 1;
  font-size: 3rem;
}

.about__btn {
  color: var(--color-primary-variant);
  align-self: end;
  border: 0.5rem solid var(--color-primary-variant);
}

.about__btn:hover {
  transform: translateY(-1rem);
  color: var(--color-primary);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  border: 0.5rem solid var(--color-primary);
  border-radius: 50%;
}

.about__image {
  position: relative;
}

.about__image-bg {
  width: 30rem;
  height: 12rem;
  position: absolute;
  bottom: 0;
  background: var(--color-bg-4);
  border-radius: 50%;
}

.about__image-lg {
  position: relative;
  left: 1rem;
  bottom: 1rem;
  filter: saturate(0) brightness(0.5);
  transition: 500ms ease;
  border-radius: 50%;
}

.about__image-lg img {
  border-radius: 50%;
}

.about__image-sm {
  position: absolute;
  top: 4rem;
  left: 8rem;
  height: 40rem;
  width: 30rem;
  overflow: hidden;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.3);
  transition: 500ms ease;
  border-radius: 80%;
}

.about__image-sm img {
  padding-top: 100px;
  height: 100%;
}

.about__image:hover .about__image-sm {
  opacity: 0;
}

.about__image:hover .about__image-lg {
  filter: saturate(1) brightness(1);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  border: 1rem solid var(--color-bg-4);
  left: 0;
  bottom: 0;
}

.about__right {
  margin-left: 10rem;
}

.about__right p {
  margin: 0 4rem 1.5rem 3rem;
}

.about__list {
  margin-top: 2rem;
}

.about__list-title {
  color: var(--color-primary);
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
}

.about__sublist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
  align-items: center;
}

.about__sublist-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-primary-variant);
}

#gallery {
  margin-top: 12rem;
}

.gallery__head {
  display: flex;
  justify-content: space-between;
}

.gallery__container p {
  width: 45rem;
}

.gallery__content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  font-size: 16px;
}

.swiper-wrapper {
  margin-top: 5rem;
  height: 37rem;
  padding-bottom: 3rem;
}

.swiper-slide {
  border: 0.5rem solid var(--color-bg-1);
  height: fit-content;
  max-height: 36rem;
  overflow: hidden;
  transition: var(--transition);
  border-radius: 1rem;
}

.swiper-slide:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  border: 0.5rem solid var(--color-primary-variant);
}

.swiper-slide img {
  filter: saturate(0);
  transition: 500ms ease;
}

.swiper-slide:hover img {
  filter: saturate(1);
}
.swiper-pagination-bullet {
  background-color: var(--color-primary);
}

#exhibitions {
  margin-top: 10rem;
}

.exhibitions__text {
  margin-top: 3rem;
  font-size: 1.2rem;
  width: 60%;
}

.exhibitions__container {
  position: relative;
}

.exhibitions__empty {
  width: 26rem;
  position: absolute;
  right: 14rem;
  top: 0;
}

.exhibitions__head {
  display: grid;
  grid-template-columns: auto 10rem;
  justify-content: space-between;
}

.exhibitions__head > p {
  width: 45rem;
}

.exhibitions__btn {
  color: var(--color-primary-variant);
  width: 10rem;
  height: 3rem;
  border: 0.3rem solid var(--color-primary-variant);
  border-radius: 1rem;
}

.exhibitions__btn p {
  font-size: 1.2rem;
}

.exhibitions__btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.exhibitions__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  gap: 3rem;
}
.exhibitions__gallery article {
  border: 0.5rem solid var(--color-bg-1);
  transition: var(--transition);
  border-radius: 1rem;
}

.exhibitions__gallery img {
  border-radius: 1rem;
}

.exhibitions__gallery article:nth-child(1) {
  grid-row: 1/3;
}

.exhibitions__gallery article:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2/3;
}
.exhibitions__gallery article img {
  height: 100%;
  filter: saturate(0);
  transition: var(--transition);
}

.exhibitions__gallery article:hover img {
  filter: saturate(1);
}

.exhibitions__gallery article:hover {
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
}

.footer {
  position: relative;
  padding-block: 2rem 3rem;
  background: var(--color-bg-2);
  margin-top: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
}

.footer__logo img {
  font-size: 1.5rem;
  height: 9rem;
  width: 9rem;
}

.footer__data {
  column-gap: 20rem;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-size: 1.25rem;
}
.footer__social {
  column-gap: 1.25rem;
}
.footer__social-link {
  font-size: 1.5rem;
}

.footer__copy {
  display: block;
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
  background-color: var(--color-dark);
  color: var(--color-bg-3);
}

@media screen and (max-width: 1400px) {
  .container {
    width: var(--container-width-md);
    position: relative;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 2.5rem;
  }

  .nav__socials {
    display: none;
  }
  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__links li {
    height: 5rem;
    box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
    animation: navAnimation 600ms ease forwards;
    transform: rotateX(90deg);
    opacity: 0;
    transform-origin: top;
  }

  .nav__links li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__links li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__links li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes navAnimation {
    to {
      transform: rotateX(0);
      opacity: 1;
    }
  }

  .nav__links li a {
    background: var(--color-bg-4);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem;
    border-top: 1px solid var(--color-bg-1);
  }

  .nav__toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-font);
  }

  #nav__toggle-close {
    display: none;
  }

  header {
    height: fit-content;
    padding: 14rem 0 12rem;
    display: grid;
    place-items: center;
  }

  .header__image-bg,
  .header__image-sm {
    display: none;
  }

  .header__container {
    grid-template-columns: 40% 54%;
    gap: 6%;
  }

  .header__image-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-4);
    width: 100%;
    top: 0;
    left: 0;
  }

  .empty {
    display: none;
  }

  .header__tag {
    margin-bottom: 1rem;
  }

  .header__right p {
    width: 100%;
    margin-top: 1.5rem;
  }

  .header__frames,
  .contact__btn {
    display: none;
  }

  .header__btn-md {
    background: linear-gradient(
      135deg,
      var(--color-primary-variant),
      var(--color-primary)
    );
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
    border-radius: 1rem;
    color: #fff;
  }

  .header__btn-md:hover {
    background: linear-gradient(135deg, #000, rgb(44, 44, 44));
  }

  .about__container {
    grid-template-columns: 40% 54%;
    gap: 6%;
  }

  .about__image-bg,
  .about__image-sm {
    display: none;
  }

  .about__image-lg {
    left: 0;
    top: 0;
    filter: saturate(1) brightness(1);
  }

  .about__right {
    margin: 0;
  }

  .about__right p {
    margin-bottom: 1rem;
  }

  #gallery {
    margin-top: 8rem;
  }

  .gallery__container p {
    width: 100%;
    margin-top: 2rem;
  }

  .swiper-wrapper {
    margin-top: 4rem;
    height: fit-content;
  }

  .exhibitions__head p {
    width: 100%;
    margin-top: 2rem;
  }

  .exhibitions__gallery {
    margin-top: 3rem;
    gap: 1rem;
  }

  .exhibitions__gallery article {
    border: none;
  }
  .about__sublist {
    grid-template-columns: 1fr;
  }
  .gallery__content {
    grid-template-columns: 1fr;
  }
  .exhibitions__head p {
    width: 350px;
  }
  .footer__data {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .grid {
    grid-template-columns: 2fr;
    row-gap: 2rem;
  }
  .footer__social {
    column-gap: 1rem;
  }
  .footer__copy {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header__image-lg {
    border: none;
  }

  .header__image-lg:hover {
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }

  .header__image-lg img {
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
  }

  .header__head {
    padding-top: 3rem;
  }

  .about__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about__right p {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .about__sublist {
    grid-template-columns: 1fr;
  }
  .exhibitions__text {
    width: 150px;
  }
  .gallery__content {
    grid-template-columns: 1fr;
  }
}
